// Place all the styles related to the processdefs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#processdef {
  @include display-box;
  @include box-orient(horizontal);
  @include box-align(stretch);
  @include box-direction(normal);
  height: 500px;
  width: 100%;
  .content, .sidebar {
    padding: 20px; }
  .content {
    @include box-flex(2);
    background-color: #c5c1b4; }
  .sidebar {
    @include box-flex(6);
    background-color: #375f99;
    } }


.processdef_block {
	border:2px solid;
	border-radius:25px;
	-moz-border-radius:25px; /* Old Firefox */	
	padding: 15px;
	width:500px;
}
